

  /* Color alternation */
#whole-1 .left-half,
#whole-3 .left-half,
#whole-2 .right-half,
#whole-4 .right-half {
  background-color: #000;
  color: white;
}

#whole-1 .right-half,
#whole-3 .right-half,
#whole-2 .left-half,
#whole-4 .left-half {
  background-color: white;
  color: black;
}

/* WHOLE SECTIONS */
.whole {
    display: flex;
    height: 100vh;
    position: relative;
    overflow: visible;
}

.half {
    flex: 1;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

/* CURTAIN ANIMATION */
.curtain {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: black;
    z-index: 10;
    transition: all 1s ease-in-out;
}

.curtain[data-side="left"] {
    left: 0;
}

.curtain[data-side="right"] {
    right: 0;
}

.loaded .curtain[data-side="left"] {
    transform: translateX(-100%);
}

.loaded .curtain[data-side="right"] {
    transform: translateX(100%);
}

 /* PRODUCTION-SPECIFIC COLORS */
 #home-whole-1 .half.left,
 #home-whole-3 .half.left,
 #home-whole-2 .half.right,
 #home-whole-4 .half.right,
 #production-whole-1 .half.left,
 #production-whole-3 .half.left,
 #production-whole-2 .half.right,
 #production-whole-4 .half.right {
     background-color: #000;
     color: white;
 }
 
 #home-whole-1 .half.right,
 #home-whole-3 .half.right,
 #home-whole-2 .half.left,
 #home-whole-4 .half.left,
 #production-whole-1 .half.right,
 #production-whole-3 .half.right,
 #production-whole-2 .half.left,
 #production-whole-4 .half.left {
     background-color: white;
     color: black;
 }

/* Contact Page Colors */
#contact-whole-1 .half.left {
    background-color: white;
    color: black;
}
#contact-whole-1 .half.right {
    background-color: black;
    color: white;
}

/* Overview Page Colors */
#overview-whole-1 .half.left {
  background-color: white;
  color: black;
}

#overview-whole-1 .half.right {
  background-color: black;
  color: white;
}

/* Scrollable Content */
.content-wrapper {
  height: 100%;
  overflow-y: auto;
  padding-right: 20px;
  /*! padding-right: 20px; */ /* For scrollbar space */
}

/* Custom Scrollbar (optional) */
.half::-webkit-scrollbar {
  width: 8px;
}
.half::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.2);
}

/* Gallery Page Colors */
#gallery-whole-1, #gallery-whole-3 {
  background-color: black;
}

/* VERTIKALNI RASPORED ZA HOME WHOLE 3 */

#home-whole-3 {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#home-whole-3 .half {
  width: 100%;
  height: 50%; /* dvije polovice unutar cijele visine */
  text-align: center;
}


/* Contact Section Styling */
.contact {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.contact-container {
  display: flex;
  flex: 1;
  width: 100%;
  justify-content: center; /* Centrira sadržaj */
  align-items: center; /* Vertikalno centriranje */
  padding: 20px;
}

.contact-left,
.contact-right {
  width: 45%; /* Zadržavamo iste širine, ali centriramo sadržaj */
  padding: 30px;
  border-radius: 10px;
}

/* Left Section: Contact Form */
.contact-left {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Poravnavanje sadržaja sa lijeve strane */
}

.contact-left h2 {
  margin-bottom: 20px;
}

.contact-left label {
  display: block;
  margin: 10px 0 5px;
}

.contact-left input, .contact-left textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #333;
  color: white;
}

.contact-left button {
  background-color: white;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-left button:hover {
  background-color: #f2f2f2;
}

/* Right Section: Social Links */
.contact-right {
  background-color: rgba(255, 255, 255, 0);
  color: black;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Poravnavanje sadržaja sa lijeve strane */
}

.contact-right h2 {
  margin-bottom: 20px;
}

.contact-right ul {
  list-style-type: none;
  padding: 0;
}

.contact-right li {
  margin-bottom: 10px;
}

.contact-right a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  transition: color 0.3s ease;
}

.contact-right a:hover {
  color: #0073e6;
}

/* Button Styling */
.cta-button {
  display: inline-block;
  margin-top: 30px;
  padding: 15px 30px;
  font-size: 1.2em;
  text-decoration: none;
  background-color: black;
  color: white;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  overflow: hidden;
  border: 2px solid black;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Underline effect on hover */
.cta-button::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: white;
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

.cta-button:hover {
  background-color: white;
  color: black;
}

.cta-button:hover::after {
  width: 100%;
}

/* Button Styling */
.cta-button-fr {
  display: inline-block;
  margin-top: 30px;
  padding: 15px 30px;
  font-size: 1.2em;
  text-decoration: none;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  overflow: hidden;
  border: 2px solid rgb(255, 255, 255);
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Underline effect on hover */
.cta-button-fr::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: rgb(255, 255, 255);
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

.cta-button-fr:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.cta-button-fr:hover::after {
  width: 100%;
}


.unmasking-timeline {
  font-family: 'Inter', sans-serif;
}

.phase-point {
  cursor: pointer;
  transition: all 0.3s;
}

.phase-point:hover circle {
  fill: #7c7c7c;
  filter: drop-shadow(0 0 8px #848484);
}

.phase-title {
  opacity: 0.1;
  font-size: 18px;
  fill: #fff;
  transition: opacity 0.3s;
}

.phase-subtitle {
  opacity: 0.9;
  font-size: 16px;
  font-style: italic;
  fill: #dfdfdf;
  transition: opacity 0.3s;
}

.phase-title-fr {
  opacity: 0.1;
  font-size: 18px;
  fill: #000;
  transition: opacity 0.3s;
}

.phase-subtitle-fr {
  opacity: 0.9;
  font-size: 16px;
  font-style: italic;
  fill: #444;
  transition: opacity 0.3s;
}

.phase-point:hover .phase-title {
  opacity: 1;
}

.phase-point:hover .phase-title-fr {
  opacity: 1;
}

.timeline-container:hover .timeline-svg {
  opacity: 1;
}
.timeline-svg {
  opacity: 0.5;
  transition: opacity 2s ease;
}
.timeline-container:hover .phase-dot {
  opacity: 1;
  transform: scale(1.2);
}

.timeline-path {
  opacity: 0.5;
  transition: opacity 0.3s;
  stroke-dasharray: 600;
  stroke-dashoffset: 600;
  animation: drawLine 2s forwards;
}

@keyframes drawLine {
  to { stroke-dashoffset: 0; }
}

.film-clapboard {
  width: 100%;
  filter: drop-shadow(0 4px 8px rgba(0,0,0,0.2));
}

.clapboard-line {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: drawLine 1s forwards;
  animation-delay: 0.5s;
}

.clap-segment:hover {
  rect {
    stroke: #a4a4a4;
    stroke-dasharray: 5,3;
  }
  .clap-content, .clap-content2 {
    fill: #ffffff;
  }
}

.clap-title {
  font-size: 22px;
  fill: #fff;
}

.clap-title2 {
  font-size: 22px;
  fill: #000000;
}
.clap-segment:hover {
  rect {
    stroke: #a4a4a4;
    stroke-dasharray: 5,3;
  }
 .clap-content2 {
    fill: #000000;
  }
}


.clap-content {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  fill: #cccccc58;
  transition: all 0.3s;
}

.clap-content2 {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  fill: #cccccc58;
  transition: all 0.3s;
}

.funding-meter {
  background: rgba(255,255,255,0.2);
  height: 30px;
  margin: 20px 0;
  border-radius: 15px;
  overflow: hidden;
}

.progress {
  background: linear-gradient(90deg, #dddddd, #ffeb3b);
  height: 100%;
  position: relative;
}

.progress span {
  position: absolute;
  right: 10px;
  color: black;
  font-weight: bold;
  line-height: 30px;
}

.action-text {
  filter: drop-shadow(0 0 8px rgba(255,235,59,0.6));
  text-transform: uppercase;
  letter-spacing: 4px;
  font-family: 'Courier New', monospace;
}

.partner-grid image {
  transition: all 0.3s;
  cursor: pointer;
}

.partner-grid image:hover {
  opacity: 1;
  transform: scale(1.05);
}

/* Animacija treperenja ACTION teksta */
@keyframes pulse-glow {
  0% { opacity: 0.7; filter: drop-shadow(0 0 5px rgba(255,235,59,0.3)); }
  50% { opacity: 1; filter: drop-shadow(0 0 15px rgba(255,235,59,0.8)); }
  100% { opacity: 0.7; filter: drop-shadow(0 0 5px rgba(255,235,59,0.3)); }
}

.film-clapboard {
  filter: url(#filmGrain);
}

.film-screen {
  zoom: 0.75;
  background: #080808fc;
  border: 2px solid rgba(129, 129, 129, 0.582);  /* Filmski okvir */
  height: 400px;
  overflow: hidden;
  position: relative;
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.film-screen-2 {
  zoom: 0.75;
  background: #EDEDED;
  border: 2px solid rgba(129, 129, 129, 0.582);  /* Filmski okvir */
  height: 400px;
  overflow: hidden;
  position: relative;
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.credits-scroll {
  position: absolute;
  width: 100%;
  text-align: center;
  color: white;
  animation: scrollCredits 20s linear infinite;
}
.credits-scroll-2 {
  position: absolute;
  width: 100%;
  text-align: center;
  color: #080808;
  animation: scrollCredits 20s linear infinite;
}

@keyframes scrollCredits {
  00% { transform: translateY(40%); }
  100% { transform: translateY(-92%); }
}

.film-screen::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="200%" height="100%"><filter id="noise"><feTurbulence type="fractalNoise" baseFrequency="0.8" numOctaves="1" stitchTiles="stitch"/></filter><rect width="100%" height="100%" filter="url(%23noise)" opacity="0.1"/></svg>');
  pointer-events: none;
  zoom: 0.75;
}


.empty-scene {
  height: 150px;
  background: repeating-linear-gradient(
      45deg,
      #222,
      #222 10px,
      #333 10px,
      #333 20px
  );
  margin: 10px 0;
  position: relative;
}

#director-btn {
  background: #ff0;
  color: black;
  border: none;
  padding: 8px 15px;
  cursor: pointer;
  transition: transform 0.3s;
}

#director-btn:hover {
  transform: scale(1.1);
}

.clapper-lines {
  height: 20px;
  background: repeating-linear-gradient(
      -45deg,
      #ff0,
      #ff0 10px,
      black 10px,
      black 20px
  );
  margin-bottom: -5px;
  transform: skewX(20deg);
}

.clapper-panel {
  background: black;
  color: #ff0;
  padding: 20px;
  border: 2px solid #ff0;
  position: relative;
  transition: all 0.5s;
}

.budget-label {
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
  margin-bottom: 10px;
}

.budget-transparent {
  background: rgba(0, 0, 0, 0.5);
  padding: 15px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.clapper-panel:hover .budget-transparent {
  opacity: 1;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100"><rect width="100" height="100" fill="%23000"/><text x="50%" y="50%" fill="%23ff0" font-family="Arial" font-size="14" text-anchor="middle" dominant-baseline="middle">🎬 CINEMA SECRETS 🎬</text></svg>');
}

.budget-transparent span {
  font-size: 0.8em;
  color: white;
  margin-top: 5px;
}

/* CSS */
.clapperboard {
  width: 600px;
  height: 500px;
  margin: 40px auto;
  position: relative;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.clapper-top {
  display: flex;
  height: 160px;
}

.clapper-left {
  background: #000;
  color: #fff;
  padding: 10px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.2em;
  border-right: 2px solid #fff;
}

.clapper-left-en {
  background: #ffffff;
  color: #d31b1b;
  padding: 10px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.2em;
  border-right: 2px solid #000000;
}

.clapper-right {
  background: #000;
  color: #fff;
  flex: 1;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.normal-view, .hover-view {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s;
  font-weight: bold;
}

.normal-view2, .hover-view2 {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s;
  background: #fff;
  color: #000;
  font-weight: bold;
}

.hover-view {
  background: rgba(0,0,0,0.8);
  color: #ff0;
  opacity: 0;
}

.clapper-right:hover .normal-view {
  opacity: 0;
  transform: translateY(-10px);
}

.clapper-right:hover .hover-view {
  opacity: 1;
  transform: translateY(0);
}

.clapper-bottom {
  background: #ffffff;
  color: white;
  /*! padding: 20px; */
  text-align: center;
}

.clapper-bottom-fr {
  background: #000000;
  color: white;
  /*! padding: 20px; */
  text-align: center;
}

.svg-anim {
  width: 100%;
}

.svg-anim svg path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  transition: stroke-dashoffset 2s ease;
}

.svg-anim.animate-svg svg path {
  stroke-dashoffset: 0;
}


